.header{
  border:2px;
  color:black;
  border-style:solid;
  padding-bottom:0px;
}
.header-text a{
  text-align:left;
  padding-top:5px;
  padding-left:20px;
  padding-bottom:10px;
  color:#880022;
  text-decoration:none;
}
.header-nav{
  border-width:thin;
  border-style:hidden;
  text-align:left;
  list-style-type:none;
  padding:5px;
  border-left-style:hidden;
  border-right-style:hidden;
  background-color:#333333;
}
body {
  background-color:#eeeeee;
}
.nav-item{
  padding-left:2px;
  padding-right:2px;
  list-style-type:none;
  display:inline;
  margin-left:-1px;
  margin-right:-1px;
  background-color:#997788;
}

.nav-item a{
  text-decoration:none;
  color:#ffffff;
}

.active{
  background-color:#115533;
}

.nav-item:hover a{
  color:#000;
}

.nav-item:hover{
  background-color: #ffffff;
  border:2px;
  border-style:solid;
  margin-left:-2px;
  margin-right:-2px;
  border-radius:5px;
}

.upload-box{
  text-align:center;
}
.sidebar-float{
  float:left;
  margin-left:1%;
  width:15%;
  white-space:nowrap;
}
.box {
  text-align:center;
}

button, input {
  line-height: normal;
}

.inputfile + label {
  max-width: 80%;
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding:15px;
  border-radius:5px;
}

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #996688;
}

heading {
  font-size: 30px;
  font-weight: 500;
}
sub-heading{
  font-size: 20px;
  font-weight: 300;
}

.body{
  border:2px;
  border-style:solid;
  padding:5px;
  margin-right:20%;
  margin-left:20%;
  border-radius:5px;
}

.recipe-text{
}
.ui-box{
  width:100%;
}
.recipe{
  background-color:white;
  border-color:#eeeeee;
  border-style:solid;
  border-width:5px;
  border-radius:20px;
  margin:15px;
  overflow:hide;
  padding:20px;
}
