.testing{
  direction:ltr;
  text-align: center;
}

.header{
  border:2px;
  color:black;
  border-style:solid;
}
.header-text{
  text-align:left;
  padding-top:5px;
  padding-left:20px;
  padding-bottom:10px;
  color:#991133;
  font-style:italic;
}
