.testing{
  direction:ltr;
  text-align: center;
}

.header{
  border:2px;
  color:black;
  border-style:solid;
}
.header-text{
  text-align:left;
  padding-top:5px;
  padding-left:20px;
  padding-bottom:10px;
  color:#991133;
  font-style:italic;
}
.header-nav{
  border-width:thin;
  border-style:solid;
  text-align:left;
  list-style-type:none;
  padding:5px;
}

.nav-item{
  padding:1px;
  list-style-type:none;
  display:inline;
  border:1px;
  border-style:solid;
}
